<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress MybatisXMapperXmlInspection -->
<mapper namespace="mybatis.mapper.CacheMapper">

    <!--
    <cache eviction="" 缓存回收策略
           flushInterval="" 刷新间隔（单位毫秒）
           size="" 引用数目（正整数）
           readOnly="" 只读（默认为false）
           ></cache>
    -->

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <insert id="insertEmp">
        insert into t_emp values (null,#{empName},#{age},#{sex},#{email},null)
    </insert>

    <select id="getEmpByEid" resultType="Emp">
        select * from t_emp where eid = #{eid}
    </select>
</mapper>
